@model perfume.Models.Homemenu.menuModel
@using PagedList;
@using PagedList.Mvc;
using perfume.fume;
using perfume.Models.Homemenu;
using perfume.reposit;
using System;
using System.Collections.Generic;
using System.Linq;
using System.Web;
using System.Web.Mvc;


@{
    ViewBag.Title = "Productdetails";
    //Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

//product
<section class="blogs" id="blogs">

    <h1 class="heading">  <span>Best sellers</span> </h1>

    <div class="box-container">
        @foreach (var item in Model.ListOfProducts)
        {
            if (@item.ProductId <= 21)
            {

                <div class="box">
                    <div class="image">
                        <img src="~/Perfumeimg/@item.ProductImage" alt="">
                    </div>
                    <div class="content">
                        <p>@item.ProductName</p>

                        <p>$@item.price </p>
                        <p>$@item.Description </p>


                        <p>
                            @if (item.Quantity > 0)
                            {
                                using (Html.BeginForm("AddToCart", "Home", new { productId = item.ProductId, url = "Index" }, FormMethod.Post))
                                {<button type="submit" class="pull-right">Shop it</button>

                                }
                            <p>Available</p>
                           
                        }
                        else
                        {
                            <p>Not Available</p>
                        }
                            

                        </div>
                    </div>
                }
            }
    </div>
</section>


